# Copyright (c) 2012-2015, The Linux Foundation. All rights reserved.

/dev/adsprpc-smd          0664   system     system
/dev/avtimer              0660   system     audio
/dev/battery_data         0660   system     system
/dev/dpl_ctrl             0660   usb        usb
/dev/i2c-*                0660   root       system
/dev/ion                  0664   system     system
/dev/ipa                  0660   system     net_admin
/dev/ipaNatTable          0660   net_admin  net_admin
/dev/jpeg*                0660   system     camera
/dev/kgsl-3d0             0666   system     system
/dev/media*               0660   system     camera
/dev/msm_aac              0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_alac             0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrnb_in         0640   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_amrwbplus        0660   system     audio
/dev/msm_ape              0660   system     audio
/dev/msm_audio_cal        0660   system     audio
/dev/msm_cad              0660   system     audio
/dev/msm_camera/*         0660   system     camera
/dev/msm_evrc             0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_fm               0660   system     audio
/dev/msm_hweffects        0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_mvs              0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/msm_preproc_ctl      0660   system     audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_rotator          0660   system     system
/dev/msm_rtac             0660   system     audio
/dev/msm_vidc_dec         0660   system     camera
/dev/msm_vidc_dec_sec     0660   system     camera
/dev/msm_vidc_enc         0660   system     camera
/dev/msm_vidc_reg         0660   system     camera
/dev/msm_voicememo        0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/nfc-nci              0660   nfc        nfc
/dev/nq-nci               0660   nfc        nfc
/dev/pft                  0660   system     drmrpc
/dev/qseecom              0660   system     drmrpc
/dev/radio0               0640   system     system
/dev/ramdump*             0660   radio      radio
/dev/rfcomm0              0660   bluetooth  bluetooth
/dev/rmnet_ctrl           0660   usb        usb
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/rtc0                 0660   system     system
/dev/sdio_tty_ciq_00      0660   system     system
/dev/sec                  0660   system     drmrpc
/dev/seemplog             0660   system     system
/dev/smd0                 0660   system     system
/dev/smd11                0660   radio      radio
/dev/smd2                 0660   bluetooth  bluetooth
/dev/smd3                 0660   bluetooth  bluetooth
/dev/smd4                 0660   system     system
/dev/smd5                 0660   system     system
/dev/smd6                 0660   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/smd_cxm_qmi          0640   radio      radio
/dev/smdcnt_rev0          0640   radio      radio
/dev/smdcnt_rev1          0640   radio      radio
/dev/smdcnt_rev2          0640   radio      radio
/dev/smdcnt_rev3          0640   radio      radio
/dev/smdcnt_rev4          0640   radio      radio
/dev/smdcnt_rev5          0640   radio      radio
/dev/smdcnt_rev6          0640   radio      radio
/dev/smdcnt_rev7          0640   radio      radio
/dev/smdcnt_rev8          0640   radio      radio
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/smdcntl8             0640   radio      radio
/dev/smuxctl32            0640   radio      radio
/dev/stml0xx              0660   system     compass
/dev/stml0xx_as           0660   compass    compass
/dev/stml0xx_ms           0660   compass    compass
/dev/subsys_*             0640   system     system
/dev/system_health_monitor 0640  radio      system
/dev/tsc_ci0              0660   media      media
/dev/tsc_mux0             0660   media      media
/dev/ttyGS0               0660   system     system
/dev/ttyHS1               0660   system     system
/dev/ttyHSL1              0660   system     system
/dev/ttyUSB0              0660   bluetooth  bluetooth
/dev/tty_sdio_00          0660   system     system
/dev/ttydiag0             0660   system     oem_2950
/dev/ttydiag1             0660   system     oem_2950
/dev/ttydiag2             0660   system     oem_2950
/dev/uio0                 0660   system     system
/dev/uio1                 0660   system     system
/dev/uio2                 0660   system     system
/dev/v4l-subdev*          0660   system     camera
/dev/video*               0660   system     camera
/dev/vm_bms               0660   system     system
/dev/voice_svc            0660   system     audio
/dev/wcnss_ctrl           0660   system     system
/dev/wcnss_ctrl           0660   system     system
/dev/wcnss_wlan           0660   system     system
/dev/wcnss_wlan           0660   system     system
/dev/wwan_ioctl           0660   system     net_admin

/sys/devices/i2c-12/12-*                            pollrate_ms    0664    system   system
/sys/devices/f9925000.i2c/i2c-0/0-*                 enable         0660    input    system
/sys/devices/f9925000.i2c/i2c-0/0-*                 poll_delay     0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-*            calibrate      0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-*            enable         0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-*            enable_wakeup  0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-*            flush          0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-*            max_latency    0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-*            poll_delay     0660    input    system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-0045/leds/blue		blink  0660    input	system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-0045/leds/green		blink  0660    input	system
/sys/devices/soc.0/78b5000.i2c/i2c-1/1-0045/leds/red		blink  0660    input	system
/sys/devices/soc.0/78b6000.i2c/i2c-0/0-*            calibrate      0660    input    system
/sys/devices/soc.0/78b6000.i2c/i2c-0/0-*            enable         0660    input    system
/sys/devices/soc.0/78b6000.i2c/i2c-0/0-*            enable_wakeup  0660    input    system
/sys/devices/soc.0/78b6000.i2c/i2c-0/0-*            flush          0660    input    system
/sys/devices/soc.0/78b6000.i2c/i2c-0/0-*            max_latency    0660    input    system
/sys/devices/soc.0/78b6000.i2c/i2c-0/0-*            poll_delay     0660    input    system
/sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0  secure_touch_enable  0660    system   drmrpc
/sys/devices/soc.0/78b7000.i2c/i2c-3/3-0020/input/input0  secure_touch         0440    system   drmrpc
/sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0  secure_touch_enable  0660    system   drmrpc
/sys/devices/soc.0/78b8000.i2c/i2c-4/4-0020/input/input0  secure_touch         0440    system   drmrpc
/sys/devices/soc.0/78b9000.i2c/i2c-5/5-0038/sensors/ft5x06-proximity	enable	    0660	input	 system
/sys/devices/soc.0/a000000.qcom,wcnss-wlan/net/p2p0/queues/rx-*         rps_cpus    0660    system   system
/sys/devices/soc.0/a000000.qcom,wcnss-wlan/net/wlan0/queues/rx-*        rps_cpus    0660    system   system
/sys/devices/virtual/gesture/gesture*		        enable	       0660	   input	system
/sys/devices/virtual/gesture/gesture*		        pocket	       0660	   input	system
/sys/devices/virtual/input/input*                   poll           0660    input    system
/sys/devices/virtual/input/input*                   pollrate_ms    0660    input    system
/sys/devices/virtual/optical_sensors/lightsensor    ls_auto        0660    input    system
/sys/devices/virtual/optical_sensors/lightsensor    ls_poll_delay  0660    input    system
/sys/devices/virtual/optical_sensors/proximity      ps_adc         0660    input    system
/sys/devices/virtual/optical_sensors/proximity      ps_poll_delay  0660    input    system
/sys/devices/virtual/smdpkt/smdcntl*                open_timeout   0664    radio    radio

/dev/block/bootdevice/by-name/frp                                  0600    system   system
/dev/block/bootdevice/by-name/frp                                  0600    system   system
/dev/block/bootdevice/by-name/clogo                                0660    root     oem_5004
/dev/block/bootdevice/by-name/cid                                  0660    root     oem_5004
/dev/block/bootdevice/by-name/utags                                0660    oem_5004 system
/dev/block/bootdevice/by-name/utagsBackup                          0660    oem_5004 system
/dev/block/platform/soc.0/7824900.sdhci/by-name/config             0660    system   system
